<%= link_to  "What is on your mind today?", new_post_path  %>

<% if !@posts.empty? %>
<h4>Recent posts:</h4>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= image_tag post.creator.gravatar_url, :class => "gravatar" %>
      <b><%= post.creator.first_name %> said:</b> <span><%= post.content %></span>
    </li>
  <% end %>
</ul>
<% end %>